body {
  padding: 50px;
  font-size: 12px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(54, 52, 52);
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
